jupyterlab
notebook
streamlit
ibm-watsonx-ai
opencv-python
openmeteo_requests
requests-cache
retry-requests
numpy
pandas
python-dotenv
geopandas
scikit-learn
streamlit-tailwind
streamlit_js_eval
seaborn
supabase
scikit-learn
seaborn
supabase
streamlit-tailwind
streamlit_js_eval