jupyterlab
notebook
streamlit
ibm-watsonx-ai
opencv-python
openmeteo_requests
requests-cache
retry-requests
numpy
pandas
python-dotenv
geopandas
scikit-learn
seaborn
supabase
geopy
uuid

ibm-watsonx-ai
langchain
langchain_ibm
